<div class="main-page">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <span>Developed by: Thiago Silva - 2021</span>
    <a href="https://www.instagram.com/th.sbarros/" target="_blank" title="Instagram">
      <img src="../assets/instagram.svg" alt="">
    </a>
    <a href="https://www.linkedin.com/in/ts-barros/" target="_blank" title="Linkedin">
      <img src="../assets/linkedin.svg" alt="">
    </a>
    <a href="https://github.com/thiagobarros19" target="_blank" title="Github">
      <img src="../assets/github.svg" alt="">
    </a>
  </footer>
</div>
